<style>
    /* Personalizações adicionais */
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        background-color: #fff; /* Fundo branco */
    }

    .custom-form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .custom-form input, .custom-form button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .custom-form button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .custom-form button:hover {
        background-color: #0056b3;
    }
</style>
